@import '../../utils/common/common.module';
.outerFrame{
  @extend .displayFlex;
  @extend .flexDirectionColumn;
  justify-content: flex-start;
  align-items: center;
}

.title{
  @extend .displayFlex;
  @extend .flexDirectionRow;
  align-items: center;
  width : calc(100% - 48px);
  height : 44px;
  background:#fafafa;
  margin-top : 24px;
}
.icon{
  width: 3px;
  height: 16px;
  background: #1B67FF;
  border-radius: 10px;
  margin-right : 4px;
  margin-left : 16px;
}
.titleText{
  color: rgba(0, 0, 0, 0.87);
  font-weight: 500;
  font-size: 16px;
  width: 64px;
  height: 24px;
  line-height: 24px;
  text-align: center;
}
.content{
  @extend .displayFlex;
  @extend .flexDirectionRow;
  align-items: flex-start;
  width : calc(100% - 48px);
  margin-left : 24px;
  margin-right : 24px;
}

.left{
  flex : 1;
  width : 458px;
  @extend .displayFlex;
  @extend .flexDirectionColumn;
  justify-content: flex-start;
  align-items: flex-start;
}
.leftTitle{
  flex : 1;
  margin-top : 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.72);
  margin-left : 16px;
}
.dragAndDrop{
  margin-left : 16px;
  margin-top:16px;
  flex : 1;
  width : 339px;
  @extend .displayFlex;
  @extend .flexDirectionColumn;
  justify-content: flex-start;
  align-items: center;
  background: #FBFCFF;
  border: 1px dashed #D0DFFF;
  border-radius: 8px;
}
.survey{
  background-image: url('../../assets/png/uploadSurvey.png');
  width : 245px;
  height : 179px;
}
.uploadIcon{
  background-image: url('../../assets/png/upload.png');
  width : 12px;
  height : 15px;
}
.right{
  flex : 1;
}
