@import './main.less';

@import './antd.reset.less';

.App{
  display:flex;
  display:-moz-flex;
  display:-webkit-flex;
  display:-ms-flex;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

//:global{
//  .ant-modal-footer{
//    padding-top:24px;
//    padding-bottom:24px;
//  }
//}
